@use '../utils/' as u;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-size: u.$fz-sm;
  font-family: u.$ff-mitr;
  font-weight: 300;
  background-color: var(--bg-main);
  color: var(--greyishBlue);

  @include u.breakpoint-up(large) {
    font-size: u.$fz-med;
  }

  &.noscroll {
    overflow: hidden;
  }

  .overlay {
    visibility: hidden;
    position: absolute;
    inset: 2.0625rem 0 0;
    background: linear-gradient(to bottom, var(--color), transparent);
    z-index: 90;

    @include u.breakpoint-up(medium) {
      inset: 2.375rem 0 0;
    }
  }

  .main {
    background-color: var(--bg-main);
    padding-top: 117px;
  }
}
