@use "../utils/" as *;
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Mitr:wght@200;300;400;500;600;700&family=Titillium+Web:wght@200;600;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $ff-montserrat;
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.3;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--text-400);
  background-color: var(--bg-100);
}
