:root {
  --skyBlue: hsl(212, 83%, 43%);
  --skyBlue-gradient: linear-gradient(65deg, var(--skyBlue), hsl(189, 83%, 43%));
  --peach: hsl(9, 100%, 64%);
  --peach-gradient: linear-gradient(65deg, var(--peach), hsl(32, 100%, 64%));

  --darkBlue: hsl(235, 27%, 8%);
  --bg-footer: hsl(235, 27%, 8%);

  --veryDarkBlue: hsl(233, 26%, 24%);
  --color: hsl(233, 26%, 24%);

  --greyishBlue: hsl(233, 10%, 50%);

  --lightGrey: hsl(220, 14%, 96%);
  --bg-main: hsl(220, 14%, 96%);

  --veryLightGrey: hsl(0, 0%, 98%);
  --bg-intro: hsl(0, 0%, 98%);

  --white: hsl(0, 0%, 100%);
}
