:root {
  --skyBlue: hsl(212, 83%, 43%);
  --darkestBlue: hsl(235, 27%, 8%);
  --veryDarkBlue: hsl(232, 31%, 10%);
  --brightPeach: hsl(9, 100%, 64%);
  --darkBlue: hsl(233, 26%, 24%);
  --greyishBlue: hsl(233, 8%, 62%);
  --lightGrey: hsl(220, 14%, 96%);
  --veryLightGrey: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}