@use 'mixins';

.darkmode {
  --bg-main: hsl(0, 0%, 13%);
  --color: hsl(0, 0%, 98%);

  .button {
    transition: box-shadow 150ms ease-in-out;

    &-primary,
    &-secondary {
      box-shadow: 0px 4px 8px 4px rgba(255, 99, 71, 0.25);

      &:hover {
        box-shadow: 0px 6px 12px 6px rgba(255, 99, 71, 0.4);
      }
    }
  }

  .header {
    --bg-intro: hsl(0, 0%, 7%);

    &__toggle {
      .slider {
        left: 1.575em;
      }
    }

    &__hero {
      --bg-intro-opaque: linear-gradient(90deg, var(--bg-intro) 50%, hsla(0, 0%, 7%, 0.95), transparent);

      @include mixins.breakpoint-up(medium) {
        background-image: url('/images/alexandru-acea-TMkrN9QZERw-unsplash.jpg');
      }
    }
  }

  .footer {
    --bg-footer: hsl(0, 0%, 7%);
  }
}
