@use 'mixins';

.darkmode {
  --bg-body: hsl(0, 0%, 0%);
  --title: var(--veryLightGrey);
  --text: var(--greyishBlue);

  .button {
    --shadow-1: 0px 8px 20px rgba(255, 99, 71, 0.55);
    --shadow-2: 0px 14px 36px rgba(255, 99, 71, 0.65);
  }

  .header {
    --bg-hero: hsl(0, 0%, 7%);

    &__toggle {
      .slider {
        left: 1.575em;
      }
    }

    &__hero {
      --bg-hero-opaque: linear-gradient(
        90deg,
        var(--bg-hero) 50%,
        hsla(0, 0%, 7%, 0.95),
        transparent
      );

      @include mixins.breakpoint-up(medium) {
        background-image: url('/images/hero-bg-dark.png');
      }
    }
  }

  .main {
    --bg-main: hsl(0, 0%, 11%);
  }

  .about {
    &__grid {
      box-shadow: 0 0 20px 5px rgba(225, 99, 71, 0.125);
    }
  }

  .abilities {
    --opaque: rgba(0, 0, 0, 0.8);

    &__ability {
      box-shadow: 0 0 20px 5px rgba(225, 99, 71, 0.125);
    }
  }

  .footer {
    --bg-footer: hsl(0, 0%, 7%);
  }
}
