//FONT FAMILY
$ff-mitr: 'Mitr', sans-serif;

//fONTS SIZES
$fz-sm: 0.9375rem; //15px
$fz-med: 1.125rem; //18px
$fz-lg: 1.3125rem; //21px

$fz-h1: 4.8125em; //77px
$fz-h2: 3.125em; //50px
$fz-h3: 2.1875rem; //35px
$fz-h4: 1.5rem; //24px

$fz-hg: 3.4375rem; //55px
$fz-vhg: 4.0625rem; //65px
$fz-vvhg: 5.3125rem; //85px
