@use "../utils/" as *;

.logo {
  --logo-color: var(--text-400);

  position: relative;
  display: inline-block;
  line-height: 1;
  font-size: 1.5rem;
  font-family: $ff-mitr;
  font-weight: 600;
  color: var(--logo-color);

  &__pop {
    --offset: 0.15em;

    position: relative;
    display: inline-block;
    color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 81%;
    }

    &::before {
      top: var(--offset);
      height: 15%;
      border-radius: 2px;
      background-color: var(--primary-100);
    }

    &::after {
      bottom: var(--offset);
      height: 45%;
      border-radius: 1px;
      background-color: var(--logo-color);
    }
  }

  &__curly-brace {
    display: inline-block;
    position: relative;
    left: 0;
    transition: left 200ms ease-in-out, color 200ms ease-in-out;
  }

  &:hover {
    .logo__curly-brace {
      color: var(--primary-100);

      &--left {
        left: -0.25em;
      }

      &--right {
        left: 0.25em;
      }
    }
  }

  &:active {
    .logo__curly-brace {
      color: var(--primary-100);

      &--left {
        left: 0;
      }

      &--right {
        left: 0;
      }
    }
  }
}
