@use "../utils/" as *;

.page-transition {
  perspective: 2000px;
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-100);
    transform-origin: bottom;
    z-index: 1001;
  }
}
