@use "../utils/" as *;

.footer {
  padding: 2em 0 15em;
  color: var(--opaque-200);
  background-color: var(--bg-100);
  text-align: center;

  @include breakpoint-up(sm) {
    text-align: left;
  }

  &__left,
  &__center,
  &__right {
    font-size: 0.875em;
  }

  &__title {
    font-size: 1.125em;
    font-weight: 400;
    color: var(--opaque-200);
  }

  &__list {
    gap: 0.125em;
  }

  &__social-links {
    .social {
      &__list {
        padding: 0;
      }
      &__item {
        margin-left: 0;
        opacity: 1;
        scale: 1;
      }
    }
  }
}
