@use "../utils/" as *;

.footer {
  padding: 2em 0 15em;
  color: var(--opaque-200);
  background-color: var(--bg-100);
  text-align: center;

  @include breakpoint-up(sm) {
    text-align: left;
  }

  &__left,
  &__center,
  &__right {
    font-size: 0.875em;
  }

  &__title {
    font-size: 1.125em;
    font-weight: 400;
    color: var(--opaque-200);
  }

  &__list {
    gap: 0.125em;
  }

  &__link--item {
    position: relative;
    display: inline-block;
    color: var(--opaque-200);
    transition: color 200ms ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1em;
      width: 100%;
      height: 2px;
      background-color: var(--primary-100);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 200ms ease-in-out;
    }

    &:hover {
      color: var(--primary-100);

      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &__social-links {
    .social {
      &__list {
        padding: 0;
      }
      &__item {
        margin-left: 0;
        opacity: 1;
        scale: 1;
      }
    }
  }
}
