@use "../utils/" as *;

.footer {
  padding: 2em 0 15em;
  font-size: 0.85em;
  color: var(--lower-mid-gray);
  background-color: var(--midnight-blue);

  @include breakpoint-down(sm) {
    text-align: center;
  }

  &__author {
    span,
    svg:first-child {
      margin-right: -0.5em;
    }

    span {
      cursor: default;
      color: var(--text-400);
    }
  }
}
