@use "../utils/" as *;

.logo {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-family: $ff-mitr;
  font-weight: 600;
  color: var(--text-400);

  &__curly-brace {
    display: inline-block;
    position: relative;
    left: 0;
    transition: left 200ms ease-in-out, color 200ms ease-in-out;
  }

  &:hover {
    .logo__curly-brace {
      color: var(--primary-100);

      &--left {
        left: -0.25em;
      }

      &--right {
        left: 0.25em;
      }
    }
  }

  &:active {
    .logo__curly-brace {
      color: var(--primary-100);

      &--left {
        left: 0;
      }

      &--right {
        left: 0;
      }
    }
  }
}
