@use "../utils/" as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 300ms ease-in-out;

  @include breakpoint-up(md) {
    &.scrolled {
      background: var(--bg-100);
    }
  }

  &.hidden {
    transform: translateY(-96%);
  }

  &__list {
    padding: 1.5rem 0;

    &--item {
      border-radius: var(--radius-200);

      &__link {
        padding: 0.5rem;
        display: inline-block;
        color: var(--text-400);
        font-size: clamp(0.75em, 2.5vw, 1em);
        font-weight: 500;
        letter-spacing: 1.5px;
        transition: color 100ms ease-in-out;

        &:hover {
          color: var(--text-100);
        }

        &.active {
          color: var(--text-100);
        }
      }
    }
  }

  &__menu {
    position: absolute;
    top: 6rem;
    right: 1rem;
    left: 1rem;

    text-align: center;

    &-toggle {
      gap: 0.3rem;
      padding: 0.35rem;
      border-radius: var(--radius-100);
      background-color: var((--opaque-light-200));

      &--stroke {
        position: relative;
        display: inline-block;
        height: 0.2rem;
        width: 1.65rem;
        background-color: var(--text-300);
        border-radius: var(--radius-pill);
        transition: background-color 150ms ease-in-out;
      }

      &:hover {
        .nav__menu-toggle--stroke {
          background-color: var(--text-100);
        }
      }
    }

    &--settings {
      margin: 0 0 0.25em auto;
      background-color: var(--opaque-light-200);
      border-radius: var(--radius-200);

      .social__list {
        padding: 0 0.25em;
        gap: 0.5em;

        li {
          margin: 0;
          opacity: 1;
          scale: 1;

          span {
            text-shadow: -1px -1px 0 var(--bg-200), 1px -1px 0 var(--bg-200),
              -1px 1px 0 var(--bg-200), 1px 1px 0 var(--bg-200);
          }
        }
      }

      &__separator {
        width: 0.15em;
        height: 1.5em;
        background-color: var(--opaque-100);
      }

      &__content {
        font-size: 1em;
      }

      &__button {
        font-size: 1.75em;
        color: inherit;
        transition: color 150ms ease-in-out, rotate 300ms ease-in-out;

        &:hover,
        &:focus-visible {
          color: var(--primary-100);
        }

        &.open {
          rotate: 45deg;
        }
      }

      &__popup {
        position: absolute;
        right: 0;
        top: 2.75rem;
        width: max-content;
        border-radius: var(--radius-200);
        background-color: var(--bg-300);
        border: solid 0.125em var(--opaque-20);
        z-index: 1;
      }
    }

    &--item {
      position: relative;
      border-radius: var(--radius-200);
      background-color: var(--bg-200);

      &:not(:first-child) {
        margin-top: 0.25rem;
      }

      &__link {
        display: block;
        color: var(--text-400);
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        transition: color 100ms ease-in-out, background-color 100ms ease-in-out;

        &:hover {
          color: var(--text-100);
          background-color: var(--bg-300);
        }

        &:active {
          color: var(--text-400);
          background-color: var(--bg-400);
        }

        &.active {
          color: var(--text-100);
        }
      }
    }
  }

  &.open {
    .nav {
      &__menu {
        &-toggle {
          &--stroke {
            transition: opacity 0ms 100ms ease-in-out, top 100ms ease-in-out,
              rotate 100ms 200ms ease-in-out;

            &-top {
              top: 8px;
              rotate: 45deg;
            }

            &-mid {
              opacity: 0;
            }

            &-bottom {
              top: -8px;
              rotate: -45deg;
            }
          }
        }
      }
    }
  }

  &.closed {
    .nav {
      &__menu {
        &-toggle {
          &--stroke {
            transition: opacity 100ms 100ms ease-in-out,
              top 100ms 300ms ease-in-out, rotate 100ms ease-in-out;

            &-top {
              top: 0;
              rotate: 0;
            }

            &-mid {
              opacity: 1;
            }

            &-bottom {
              top: 0;
              rotate: 0;
            }
          }
        }
      }
    }
  }

  &__theme-toggle {
    padding: 0;
    font-size: 0.675rem;
    position: relative;
    border: solid 0.15rem var(--bg-300);
    border-radius: var(--radius-pill);
    background-color: var(--bg-300);
    outline: solid 0.1rem transparent;
    cursor: pointer;
    transition: outline 100ms ease-in-out;

    &:hover {
      outline: solid 0.1rem var(--opaque-200);
    }

    &--container {
      position: relative;
    }

    .light,
    .dark {
      display: inline-block;
      padding: 0.25rem 1rem;
      color: var(--text-400);
    }

    &--slider {
      position: absolute;
      padding: 0.25rem 0.5rem;
      top: 0;
      left: 0;
      border-radius: 1rem;
      color: var(--text-300);
      background-color: var(--bg-100);
      box-shadow: 0px 0px 5px 0px hsla(0, 0%, 100%, 0.15);
      transition: left 100ms ease-in-out;

      &.lightmode {
        box-shadow: var(--shadow-100);
        left: 3.25rem;
      }
    }
  }

  &__scroll-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--primary-gradient);
    height: 0.105em;
    width: 100%;
    border-radius: 5rem;
  }
}
