.nav {
  &__theme-toggle {
    padding: 0;
    font-size: 0.75rem;
    position: relative;
    border: solid 0.15rem var(--bg-300);
    border-radius: 2em;
    background-color: var(--bg-300);
    cursor: pointer;

    .light,
    .dark {
      display: inline-block;
      padding: 0.25rem 1rem;
      color: var(--text-200);
    }

    &--slider {
      position: absolute;
      padding: 0.25rem 0.5rem;
      top: 0;
      left: 0;
      border-radius: 1rem;
      color: var(--text-400);
      background-color: var(--bg-100);
      box-shadow: 0px 0px 5px 0px hsla(0, 0%, 100%, 0.15);
      transition: left 100ms ease-in-out;

      &.lightmode {
        box-shadow: var(--shadow-100);
        left: 3.25rem;
      }
    }
  }
}
