.tooltip {
  position: absolute;
  top: max(130%, 1rem);
  left: 50%;
  translate: -50% 0;
  padding: 0.25em 0.5em;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  width: max-content;
  max-width: 15em;
  font-weight: 400;
  text-align: center;
  border: solid 0.105em var(--opaque-100);
  border-radius: var(--radius-200);
  color: var(--text-200);
  background-color: var(--bg-300);
  box-shadow: 0px 8px 20px hsla(0, 0%, 0%, 0.25);
  pointer-events: none;
  z-index: 1;

  @media (hover: none) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -0.2875em;
    left: var(--left, 50%);
    right: var(--right, auto);
    translate: var(--translate, -50% 0);
    rotate: 45deg;
    width: 0.5em;
    height: 0.5em;
    border-top: solid 0.105em var(--opaque-100);
    border-left: solid 0.105em var(--opaque-100);
    background-color: var(--bg-300);
    border-radius: var(--radius-100);
  }

  &__text {
    font-size: 0.675em;
    letter-spacing: normal;
    margin: 0;
  }

  &__icon {
    position: relative;
    font-size: 0.75em;
    color: var(--primary-100);
    align-self: center;

    &--first {
      left: 0em;
      animation: moveFirstIcon 700ms ease-in-out infinite;
    }

    &--second {
      left: -0.5em;
      animation: moveSecondIcon 700ms ease-in-out infinite;
    }

    @keyframes moveFirstIcon {
      0% {
        left: 0;
        transform: scale(0);
      }
      50% {
        transform: scale(1);
      }
      100% {
        left: 0.5em;
        transform: scale(1);
      }
    }

    @keyframes moveSecondIcon {
      0% {
        left: -0.5em;
      }
      100% {
        left: 0em;
        transform: scale(0);
      }
    }
  }
}
