@use '../utils' as u;

.footer {
  position: relative;
  background-color: var(--bg-footer);
  color: hsl(232, 6%, 48%);
  text-align: center;

  a,
  a:visited,
  a:active {
    color: inherit;
  }

  &__title {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin var(--peach);

    @include u.breakpoint-up(medium) {
      font-size: 5rem;
    }

    @include u.breakpoint-up(large) {
      font-size: 7rem;
    }
  }

  &__description {
    position: relative;
    color: var(--lightGrey);
    top: -6em;

    @include u.breakpoint-up(medium) {
      top: -9em;
    }

    @include u.breakpoint-up(large) {
      top: -10em;
    }
  }

  &__links {
    > a {
      position: relative;
      transition: color 250ms;

      @include u.before {
        background: var(--peach-gradient);
        height: 2px;
        width: 0;
        bottom: -5px;
        right: 0;
        border-radius: 10px;
        transition: width 250ms;
      }

      &:hover {
        color: var(--greyishBlue);

        &::before {
          width: 100%;
        }
      }
    }
  }

  &__grid {
    font-size: u.$fz-sm;

    @include u.breakpoint-up(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        'form form form'
        'footer-logo navigation policies'
        'address navigation policies';
    }

    @include u.breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr 1fr;
      grid-template-rows: 7.75rem auto;
      grid-template-areas:
        'footer-logo form navigation policies'
        'address form navigation policies';
    }
  }

  &__group {
    position: relative;
    padding: 1rem 0;

    @include u.breakpoint-up(medium) {
      padding: 0;
      text-align: left;
      margin: 0;
    }

    &-title {
      font-size: var(--fz-med);
      color: var(--greyishBlue);
    }

    &:not(:last-child) {
      @include u.before() {
        left: 0;
        bottom: 0;
        background-color: hsla(0, 0%, 60%, 0.2);
        width: 100%;
        height: 0.125rem;
        border-radius: 5rem;
      }

      @include u.breakpoint-up(medium) {
        &::before {
          display: none;
        }
      }
    }

    &:first-child {
      @include u.breakpoint-up(medium) {
        grid-area: form;
      }
    }

    &:nth-child(2) {
      margin: 4rem auto 1rem;

      @include u.breakpoint-up(medium) {
        grid-area: footer-logo;
        margin: 0;
        padding-top: 3.5rem;
      }

      @include u.breakpoint-up(large) {
        padding-top: 1.8755rem;
      }

      p {
        margin: 0.6875rem 0 1rem 1rem;
        font-style: italic;
      }
    }

    &:nth-child(3) {
      @include u.breakpoint-up(medium) {
        grid-area: address;
      }

      > a,
      div {
        margin-top: 0.75em;
      }
    }

    &:nth-child(4) {
      @include u.breakpoint-up(medium) {
        grid-area: navigation;
        padding-top: 4rem;
      }

      @include u.breakpoint-up(large) {
        padding-top: 2.3755rem;

        h3 {
          text-align: right;
        }
      }
    }

    &:last-child {
      @include u.breakpoint-up(medium) {
        grid-area: policies;
        padding-top: 4rem;

        h3 {
          text-align: right;
        }
      }
      @include u.breakpoint-up(large) {
        padding-top: 2.3755rem;
      }
    }
  }

  &__form {
    --border: hsla(233, 8%, 62%, 0.4);
    --focus: var(--peach);

    @include u.breakpoint-up(medium) {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      column-gap: 2.25em;
    }

    &:valid {
      .footer__form-group {
        &:last-child {
          box-shadow: 0px 4px 8px 4px rgba(255, 99, 71, 0.25);
          transition: box-shadow 150ms ease-in-out;

          &:hover {
            box-shadow: 0px 6px 12px 6px rgba(255, 99, 71, 0.4);
          }
        }

        button {
          background: var(--peach-gradient);
          opacity: 0.85;

          &:hover {
            opacity: 1;
          }

          &:focus {
            opacity: 1;
          }
        }
      }
    }

    position: relative;
    max-width: 40em;
    margin: auto;

    &-group {
      &:first-child {
        @include u.breakpoint-up(medium) {
          grid-column: 1/3;
          grid-row: 1/2;
        }
      }

      &:nth-child(2) {
        @include u.breakpoint-up(medium) {
          grid-column: 1/2;
          grid-row: 2/3;
        }
      }

      &:nth-child(3) {
        @include u.breakpoint-up(medium) {
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }

      &:last-child {
        margin-top: 1.5rem;
        border-radius: 5px;
        overflow: hidden;

        button {
          position: relative;
          font-size: 1em;
          background: var(--greyishBlue);
          width: 100%;
          padding: 0.65em;
          border: none;
          cursor: pointer;
          opacity: 0.45;
          transition: opacity 200ms ease-in-out;
        }

        &:focus-within {
          outline: solid 2px var(--greyishBlue);
          outline-offset: 3px;
        }

        @include u.breakpoint-up(medium) {
          margin-top: 2em;
          grid-column: 2/3;
          grid-row: 2/4;

          button {
            font-size: 1.125rem;
            height: 100%;
          }
        }
      }

      label,
      input,
      textarea {
        position: relative;
        display: block;
        font-family: inherit;
        font-size: inherit;
        min-width: 100%;
      }

      label {
        text-align: left;
        margin: 0.25rem 0;
        font-weight: 300;
        color: var(--veryLightGrey);
        font-size: 1em;
        top: 2rem;
        left: 1.125rem;
        opacity: 0;
        transition: top 200ms ease-in-out, left 200ms ease-in-out,
          opacity 150ms 50ms ease-in-out;
      }

      input,
      textarea {
        padding: 0.25rem 1rem;
        border: solid 3px var(--border);
        background-color: transparent;
        color: var(--white);
        font-weight: 300;
        border-radius: 5px;
        transition: border 200ms ease-in-out, background-color 200ms ease-in-out,
          outline 200ms ease-in-out, outline-offset 50ms ease-in-out;

        &:focus,
        &:focus-visible {
          outline: solid 2px var(--greyishBlue);
          outline-offset: 3px;
          background-color: hsla(0, 0%, 100%, 0.05);
        }
      }

      textarea {
        max-height: 6em;
        min-height: 6em;
        min-width: 100%;
        max-width: 100%;
      }

      &:focus-within {
        label {
          top: 0;
          left: 0;
          opacity: 1;
          font-weight: 500;
        }

        input,
        textarea {
          &:focus {
            --border: var(--focus);
          }
        }
      }
    }
  }

  &__logo {
    width: 167px;
    height: 25px;
    background-image: url('/images/logo-footer.svg');
  }

  &__social {
    font-size: 1.5em;

    @include u.breakpoint-up(large) {
      font-size: 1.125em;
    }
    a {
      position: relative;
      display: inline-block;
      transition: color 150ms;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: var(--peach);
      }
    }
  }

  &__nav {
    a {
      display: block;
      width: max-content;
      margin: 0.75em auto 0;

      @include u.breakpoint-up(large) {
        margin: 0.75em 0 0 auto;
      }
    }
  }

  &__policies {
    a {
      display: block;
      width: max-content;
      margin: 0.75em auto 0;

      @include u.breakpoint-up(medium) {
        margin: 0.75em 0 0 auto;
      }
    }
  }

  &__copyright {
    margin-top: 0.75em;
  }
}
