@use '../utils' as u;

.header {
  --bg-hero: var(--veryLightGrey);

  position: relative;
  background-color: var(--bg-hero);

  &__nav-section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--bg-hero);
    z-index: 1000;
    transition: translate 350ms ease-in-out;

    &.nav-hidden {
      translate: 0px -4.5rem;

      @include u.breakpoint-up('large') {
        translate: 0px -6.25rem;
      }
    }
  }

  &__nav {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include u.before {
      left: 0;
      bottom: 0;
      background-color: hsla(0, 0%, 60%, 0.2);
      width: 100%;
      height: 0.125rem;
      border-radius: 5rem;
    }

    @include u.breakpoint-up(large) {
      padding-top: 2rem;
      padding-bottom: 1.875rem;
    }
  }

  &__logo {
    span {
      @include u.breakpoint-down(medium) {
        display: none;
      }
    }
  }

  &__links {
    a {
      position: relative;
      margin-right: 1.5rem;
      padding: 0.15rem 0.5rem;
      color: var(--text);
      font-weight: 300;
      letter-spacing: 3.5px;
      transition: color 250ms ease-in-out;

      @include u.before {
        left: 0;
        bottom: 2px;
        width: 3px;
        height: 3px;
        background-color: var(--tomato);
        opacity: 0;
        border-radius: 10px 10px 0 0;
        transition: bottom 200ms ease-in-out, opacity 200ms ease-in-out,
          width 200ms 200ms ease-in-out;
      }

      @include u.breakpoint-down(medium) {
        display: none;
      }

      &:hover {
        color: var(--title);

        &::before {
          opacity: 1;
          height: 3px;
          width: 100%;
          bottom: -2rem;
          background-color: var(--title);
        }
      }
    }
  }

  &__toggle {
    --toggle-bg: var(--grey);
    --toggle-color: var(--title);
    --shadow: 0 0.05em 0.25em hsla(0, 0%, 0%, 0.25);

    padding: 0;
    font-size: 0.75em;
    position: relative;
    border: solid 0.15em var(--toggle-bg);
    border-radius: 2em;
    background-color: var(--toggle-bg);
    cursor: pointer;

    span {
      display: inline-block;
      padding: 0.25em 1em;
      color: var(--text);
    }

    .slider {
      position: absolute;
      left: 0;
      border-radius: 1rem;
      color: var(--toggle-color);
      background-color: var(--white);
      box-shadow: var(--shadow);
      transition: left 100ms ease-in-out;
    }
  }

  &__hamburger {
    flex-direction: column;
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 3px;
    background-color: transparent;

    > span {
      position: relative;
      display: inline-block;
      height: 3px;
      width: 30px;
      background-color: var(--bg-hero);
      border-radius: 5px;
      border: solid 1px var(--title);
      transition: opacity 0ms 100ms ease-in-out, top 100ms ease-in-out,
        transform 100ms 100ms ease-in-out, background-color 100ms ease-in-out;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    @include u.breakpoint-up(large) {
      display: none;
    }

    @include u.breakpoint-down(small) {
      transform: scale(0.8);
    }

    &:hover {
      > span {
        background-color: var(--title);
      }
    }
  }

  &__cta {
    @include u.breakpoint-down(medium) {
      display: none;
    }
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    background-color: var(--bg-hero);
    padding: 1.5rem;
    width: 100%;
    top: 4.15em;
    right: 100vw;
    text-align: center;
    transition: right 200ms ease-in-out;

    li {
      &:hover {
        a {
          rotate: x 0deg;
        }
      }
    }

    a {
      display: block;
      color: var(--title);
      font-size: u.$fz-lg;
      font-weight: 500;
      letter-spacing: 3.5px;
      padding: 1rem 0;
      border-radius: 5px;
      rotate: x 90deg;
      transition: rotate 250ms ease-in-out, background-color 150ms ease-in-out;

      &:active {
        background-color: var(--tomato);
      }
    }

    @include u.breakpoint-up(large) {
      display: none;
    }

    @media (hover: none) {
      a {
        rotate: x 0deg;

        &:hover {
          rotate: x 0deg;
        }
      }
    }
  }

  &__hero {
    --bg-hero-opaque: linear-gradient(
      90deg,
      var(--bg-hero) 45%,
      hsla(0, 0%, 98%, 0.95),
      transparent
    );

    position: relative;
    padding-top: 2rem;

    @include u.breakpoint-up(medium) {
      text-align: left;
      background-image: url('/images/hero-bg-light.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center right;

      @include u.before {
        inset: 0;
        background: var(--bg-hero-opaque);
      }
    }

    @include u.breakpoint-up(large) {
      padding-top: 3rem;
    }

    &-text {
      position: relative;
      height: max(23.4375rem, 100vh);
      gap: 1rem;

      @include u.breakpoint-up(medium) {
        gap: 2rem;
      }
    }

    &-description {
      max-width: 45.625rem;
      margin: auto;

      @include u.breakpoint-up(medium) {
        margin: 0 auto 0 0;
      }
    }

    &-buttons {
      gap: 1rem;

      @include u.breakpoint-up(medium) {
        gap: 2rem;
        justify-content: flex-start;
      }
    }
  }

  &.open {
    .header {
      &__menu {
        right: 0;
        animation: fade-in 300ms ease-in-out 1 forwards;
      }

      &__hamburger {
        > span {
          transition: opacity 0ms 100ms ease-in-out, top 100ms ease-in-out,
            rotate 100ms 100ms ease-in-out;

          &:first-child {
            top: 8px;
            rotate: 45deg;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            top: -8px;
            rotate: -45deg;
          }
        }
      }
    }
  }

  &.close {
    .header {
      &__menu {
        animation: fade-out 300ms ease-in-out 1 forwards;
      }

      &__hamburger {
        > span {
          transition: opacity 100ms 100ms ease-in-out,
            top 100ms 100ms ease-in-out, rotate 100ms ease-in-out;

          &:first-child {
            top: 0;
            rotate: 0;
          }

          &:nth-child(2) {
            opacity: 1;
          }

          &:last-child {
            top: 0;
            rotate: 0;
          }
        }
      }
    }
  }
}
