@use "../utils/" as *;

.project {
  &__list {
    @include breakpoint-up(md) {
      background: var(--primary-radial-gradient);
    }
  }

  &__card {
    background-color: var(--bg-200);
    background-size: 115% auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radius-300);
    aspect-ratio: 16 / 12;
    overflow: hidden;
    transition: background-size 500ms linear;

    @include breakpoint-up(sm) {
      aspect-ratio: 16 / 10;
    }

    @include breakpoint-up(lg) {
      aspect-ratio: 16 / 8;
    }

    &:first-child {
      @include breakpoint-up(md) {
        grid-column: span 12;
      }
    }

    &:not(:first-child) {
      @include breakpoint-up(md) {
        grid-column: span 6;
      }
    }

    &--container {
      height: 100%;
      background-color: var(--opaque-light-100);
      transition: background-color 300ms ease-in-out,
        backdrop-filter 300ms ease-in-out;

      @include touch {
        background-color: var(--opaque-light-200);
      }
    }

    &--info {
      max-width: 25em;
    }

    &:hover,
    &:focus-within {
      background-size: 110% auto;

      .project__card {
        &--container {
          background-color: var(--opaque-light-200);
          backdrop-filter: blur(5px);
        }

        &--button {
          opacity: 1;
          left: 0;
        }
      }

      p {
        opacity: 1;
        margin-bottom: 0;
      }
    }

    h3 {
      margin: 0;
    }

    p {
      margin-bottom: -3.5em;
      font-size: 0.9em;
      color: var(--text-300);
      opacity: 0;
      transition: margin-bottom 300ms ease-in-out,
        opacity 300ms 100ms ease-in-out;

      @include touch {
        opacity: 1;
        margin-bottom: 0;
      }
    }

    &--details {
      font-size: 0.75em;
    }

    &--button {
      position: relative;
      left: 2em;
      opacity: 0;
      transition: left 400ms 300ms ease-in-out, opacity 300ms 400ms ease-in-out;

      @include touch {
        opacity: 1;
        left: 0;
      }
    }
  }

  &__tech {
    &--item {
      gap: 0.25em;
      padding: 0.5em;
      border: solid 0.125em var(--bg-400);
      color: var(--text-300);
      background-color: var(--bg-300);
      border-radius: var(--radius-200);
      cursor: default;

      svg {
        color: var(--opaque-200);
        transition: color 150ms ease-in-out;

        @include touch {
          color: var(--text-300);
        }
      }

      &:hover {
        svg {
          color: var(--text-300);
        }
      }
    }
  }

  &__modal {
    position: fixed;
    inset: 5%;
    max-width: 50em;
    min-width: 16.5625rem;
    margin: 0 auto;
    z-index: 1010;
    transition: opacity 300ms 100ms ease-in-out, scale 300ms 100ms ease-in-out;

    &.open {
      opacity: 1;
      scale: 1;
    }

    &.closed {
      opacity: 0;
      scale: 0;
    }

    &--container {
      height: 100%;
    }

    &--header {
      &__close-button {
        position: absolute;
        padding: 0;
        top: -0.5em;
        right: -0.5em;
        font-size: 2em;
        color: var(--text-200);
        border-radius: var(--radius-round);
        background: radial-gradient(circle, var(--bg-200) 30%, transparent 30%);
        transition: color 150ms ease-in-out;

        &:hover {
          color: rgb(211, 33, 33);
        }
      }

      h2 {
        margin: 0;
      }

      &__buttons {
        font-size: 0.8em;
      }
    }

    &--body {
      flex: 1;
      overflow-y: auto;
      border-radius: var(--radius-200);

      &__image {
        aspect-ratio: 16 / 10;
        background-color: var(--opaque-light-100);

        @include breakpoint-up(md) {
          aspect-ratio: 16 / 8;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--radius-200);
        }
      }

      &__text {
        border-radius: var(--radius-200);
        background-color: var(--bg-100);
        grid-template-columns: 1fr;
        grid-template-areas:
          "overview"
          "tech"
          "problem"
          "features"
          "summary";

        @include breakpoint-up(md) {
          grid-template-columns: repeat(6, 1fr);
          grid-template-areas:
            "overview overview overview tech tech tech"
            "problem problem problem tech tech tech"
            "features features features features features features"
            "summary summary summary summary summary summary";
        }

        &--overview {
          grid-area: overview;
        }

        &--problem {
          grid-area: problem;
        }

        &--features {
          grid-area: features;

          ul {
            list-style: disclosure-closed;

            span {
              font-weight: bold;
              color: var(--text-200);
            }
          }
        }

        &--summary {
          grid-area: summary;
        }

        &--tech {
          grid-area: tech;

          ul {
            font-size: 0.75em;
          }
        }
      }
    }
  }
}
