@use "../utils/" as *;

.project {
  &__list {
    @include breakpoint-up(md) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__card {
    background-color: var(--bg-200);
    background-size: 115% auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radius-300);
    aspect-ratio: 16 / 10;
    overflow: hidden;
    transition: background-size 2000ms ease-in-out;

    @include breakpoint-up(md) {
      aspect-ratio: 16 / 8;
    }

    &--main-project {
      @include breakpoint-up(md) {
        grid-column: span 12;
      }
    }

    &--project-2,
    &--project-3,
    &--project-4,
    &--project-5 {
      @include breakpoint-up(md) {
        grid-column: span 6;
      }
    }

    &--container {
      height: 100%;
      background-color: var(--project-card-opaque-100);

      @include touch {
        background-color: var(--project-card-opaque-200);
      }
    }

    &--info {
      max-width: 20em;
    }

    &:hover,
    &:focus-within {
      background-size: 110% auto;

      .project__card {
        &--container {
          background-color: var(--project-card-opaque-200);
        }

        &--button {
          visibility: visible;
          opacity: 1;
          left: 0;
        }
      }

      p {
        opacity: 1;
        margin-bottom: 0;
      }
    }

    h3 {
      margin: 0;
    }

    p {
      margin-bottom: -3.5em;
      color: var(--text-300);
      opacity: 0;
      transition: margin-bottom 300ms ease-in-out,
        opacity 300ms 100ms ease-in-out;

      @include touch {
        opacity: 1;
        margin-bottom: 0;
      }
    }

    &--details {
      font-size: 0.75em;
    }

    &--tech {
      &__item {
        padding: 0.5em;
        background-color: var(--bg-300);
        border-radius: var(--radius-100);
      }
    }

    &--button {
      position: relative;
      left: 2em;
      visibility: hidden;
      opacity: 0;
      transition: left 300ms 400ms ease-in-out, opacity 300ms 400ms ease-in-out,
        visibility 10ms ease-in-out;

      @include touch {
        visibility: visible;
        opacity: 1;
        left: 0;
      }
    }
  }
}
