@use "../../utils/" as *;

.project__modal {
  position: fixed;
  inset: 5%;
  max-width: 55em;
  min-width: 16.5625rem;
  margin: 0 auto;
  z-index: 1010;
  transition: opacity 300ms 100ms ease-in-out, scale 300ms 100ms ease-in-out;

  &.open {
    opacity: 1;
    scale: 1;
  }

  &.closed {
    opacity: 0;
    scale: 0;
  }

  &--container {
    height: 100%;
  }

  &--header {
    &__close-button {
      position: absolute;
      padding: 0;
      top: -0.5em;
      right: -0.5em;
      font-size: 2em;
      color: var(--text-200);
      border-radius: var(--radius-round);
      background: radial-gradient(circle, var(--bg-200) 30%, transparent 30%);
      transition: color 150ms ease-in-out;

      &:hover {
        color: rgb(211, 33, 33);
      }
    }

    h2 {
      margin: 0;
      text-shadow: -1px -1px 0 var(--bg-200), 1px -1px 0 var(--bg-200), -1px 1px 0 var(--bg-200),
        1px 1px 0 var(--bg-200);
    }

    &__buttons {
      font-size: 0.8em;
    }
  }

  &--body {
    flex: 1;
    overflow-y: auto;
    border-radius: var(--radius-200);

    &__image {
      margin-bottom: 0.25em;
      aspect-ratio: 16 / 10;
      background-color: var(--opaque-light-100);
      border-radius: var(--radius-200);

      @include breakpoint-up(md) {
        aspect-ratio: 16 / 8;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    &__text {
      border-radius: var(--radius-200);
      background-color: var(--bg-100);
      grid-template-columns: 1fr;
      grid-template-areas:
        "overview"
        "tech"
        "problem"
        "features"
        "summary";

      @include breakpoint-up(md) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
          "overview overview overview overview tech tech"
          "problem problem problem problem problem problem"
          "features features features features features features"
          "summary summary summary summary summary summary";
      }

      &--overview {
        grid-area: overview;
      }

      &--problem {
        grid-area: problem;
      }

      &--features {
        grid-area: features;

        ul {
          list-style: disclosure-closed;
          margin-bottom: 1rem;

          span {
            font-weight: bold;
            color: var(--text-200);
          }
        }
      }

      &--summary {
        grid-area: summary;
      }

      &--tech {
        grid-area: tech;
      }
    }
  }
}
