@use "../utils/" as *;

.flex {
  display: flex !important;

  &-jc {
    &-sb {
      justify-content: space-between;
    }
    &-c {
      justify-content: center;
    }
  }

  &-ai {
    &-c {
      align-items: center;
    }

    &-fs {
      align-items: flex-start;
    }

    &-fe {
      align-items: flex-end;
    }
  }

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

// FLEXBOX MEDIA QUERIES

.flex {
  &_md {
    @include breakpoint-up(md) {
      display: flex !important;
    }

    &-jc {
      &-sb {
        @include breakpoint-up(md) {
          justify-content: space-between;
        }
      }
      &-c {
        @include breakpoint-up(md) {
          justify-content: center;
        }
      }

      &-fs {
        @include breakpoint-up(md) {
          justify-content: flex-start;
        }
      }
    }

    &-ai {
      &-c {
        @include breakpoint-up(md) {
          align-items: center;
        }
      }

      &-fs {
        @include breakpoint-up(md) {
          align-items: flex-start;
        }
      }

      &-fe {
        @include breakpoint-up(md) {
          align-items: flex-end;
        }
      }
    }

    &-row {
      @include breakpoint-up(md) {
        flex-direction: row;
      }
    }

    &-col {
      @include breakpoint-up(md) {
        flex-direction: column;
      }
    }

    &-wrap {
      @include breakpoint-up(md) {
        flex-wrap: wrap;
      }
    }
  }
}

.gap {
  &-0 {
    gap: 0;
  }
  &-1 {
    gap: 0.5rem;
  }
  &-2 {
    gap: 1rem;
  }
  &-3 {
    gap: 1.75rem;
  }
}
